* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vh;
  height: 1088px;
  font-family: "DM Sans", sans-serif;
}
body {
  position: fixed;
  width: 1;
  margin-left: 150px;
}

header,
section {
  color: #101c45;
}
footer {
  padding: 40px;
  width: 1211px;
  height: 191px;
  font-size: 12px;
  color: white;
  background-color: #203271;
}
/* navbar */
header {
  margin-top: 58px;
  color: #101c45;
  font-size: 18px;
  width: 1140px;
  height: 37px;
  display: flex;
  flex-direction: row;
}
.nav-bar {
  width: 100%;
  color: #101c45;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}
.nav-left {
  display: flex;
  flex-direction: row;
}
.logo {
  font-size: 18px;
  width: 199px;
}
.main-nav {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  gap: 2rem;
}
.side-nav {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

#book {
  width: 100px;
  height: 37px;
  background-color: #9beae0;
}
section {
  color: #101c45;
  font-size: 18px;
}
footer {
  margin-top: 100px;
}

/* content */
.content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* content 1 */
.content-1 {
  margin-top: 146px;
  display: flex;
  flex-direction: column;

  width: 457px;
  height: 391px;
}
.c1-h1 {
  width: 457px;
  height: 186px;
  font-size: 48px;
  color: #101c45;
}
.c1-text {
  width: 457px;
  height: 90px;
  font-size: 18px;
  color: #101c45;
}

#appointment {
  color: white;
  background-color: #203271;
  width: 235px;
  height: 60px;
}
/*  content 2*/
.content-2 {
  padding: 12px;

  font-size: 12px;
  background-color: white;
  margin-top: 118px;
  margin-left: 50px;
  width: 292px;
  height: 182px;
  border-radius: 10px;
  box-shadow: 0 2px 10px 1px rgba(128, 128, 128, 0.466);
}
.pop-up {
  width: 252px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user {
  width: 70px;
  height: 30px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
.user-name {
  font-weight: bold;
  padding-left: 10px;
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.content-3 {
  top: 0px;
  margin-top: 0;
  margin-left: 620px;
  display: block;
  position: fixed;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: -2;
}
.content-4 {
  z-index: -1;
  margin-left: 664px;
  display: block;
  position: fixed;
  justify-content: flex-end;
  align-items: flex-end;
}
.footer {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}

.footer-1 {
  width: 294px;
  height: 111px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.footer-2 {
  width: 294px;
  height: 111px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.footer-3 {
  width: 294px;
  height: 111px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
